# Day 2 🐍

## Variable

Aturan variable di python

- harus diawali dengan huruf atau _underscore_
- tidak boleh diawali dengan angka
- hanya bisa menggunakan = A-z, 0-9, \_ 
- case-sensitive ((firstname, Firstname, FirstName dan FIRSTNAME) mereka adalah variabel yang berbeda)

contoh variable yang benar

```shell
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if
year_2021
year2021
current_year_2021
birth_year
num1
num2
```

contoh variable yang salah

```shell
first-name
first@name
first$name
num-1
1num
```

## Tipe Data

| Tipe Data   | Contoh                   | Penjelasan                                                                        |
|-------------|--------------------------|-----------------------------------------------------------------------------------|
| String      | `"Ayo belajar Python"`   | Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')  |
| Integer     | `25` atau `1209`         | Menyatakan bilangan bulat                                                         |
| Float       | `3.14` atau `0.99`       | Menyatakan bilangan yang mempunyai koma                                           |
| Hexadecimal | `9a` atau `1d3`          | Menyatakan bilangan dalam format heksa (bilangan berbasis 16)                     |
| Complex     | `1 + 5j`                 | Menyatakan pasangan angka real dan imajiner                                       |
| List        | `['xyz', 786, 2.23]`     | Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah        |
| Tuple       | `('xyz', 768, 2.23)`     | Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah      |
| Dictionary  | `{'nama': 'adi','id':2}` | Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai |
| Boolean     | `True` atau `False`      | Menyatakan benar `True` yang bernilai `1`, atau salah `False` yang bernilai `0`   |

In [ ]:
peserta = {'nama':'adi', 
            'id':2}
print(peserta)
type(peserta)

In [ ]:
a = [1, 2, 4]
b = (1, 2, 4)
print(a == b)

In [ ]:
# Variables in Python

nama_lengkap = 'Selena Gomez'
negara = 'United States'
kota = 'Los Angeles'
umur = 30
tinggi_badan_meter = 1.65
menikah = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
info = {
        'pacar':'Zayn', 
        'sahabat':'Taylor Swift', 
        'mantan':'Justin Bieber',
        'musuh':'Hailey Bieber'
}

# Printing the values stored in the variables

print('nama lengkap:', nama_lengkap)
print('panjang nama lengkap:', len(nama_lengkap))
print('negara: ' + negara)
print(f'kota: {kota}')
print(f'umur:{umur}')
print(f'tinggi badan (meter): {tinggi_badan_meter}')
print(f'menikah: {menikah}')
print(f'Skills: {skills}')
print(f'Informasi lain: {info}')

# checking the data type

print(type(nama_lengkap))
print(type(negara))
print(type(kota))
print(type(umur))
print(type(tinggi_badan_meter))
print(type(skills))
print(type(info))

## Operator

In [ ]:
print(2 + 3)   # addition(+)
print(3 - 1)   # subtraction(-)
print(2 * 3)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

![division](https://i.ytimg.com/vi/mv5uHSXLkhs/maxresdefault.jpg)

In [ ]:
print(3 > 2)    
print(3 >= 2)   
print(3 < 2)     
print(2 < 3)     
print(2 <= 3)    
print(3 == 2)    
print(3 != 2)

| Operator | Keterangan |
|----------|----------------------------|
|is, is not|	Identitas |
|in, not in|	Membership (Keanggotaan) |
|not, or, and|	Logika |

In [ ]:
a = 5
b = 6
print(a is b)
print(a is not b)
print('-----------------')

a_list = [1, 2, 3, 4, 5]
print(a in a_list)
print(b not in a_list)
print('-----------------')

## List

In [ ]:
lst = []
lst2 = list()
fruits = ['banana', 'orange', 'mango', 'lemon']

In [ ]:

jumlah = len(fruits)
first_fruit = fruits[0]
print(first_fruit)
second_fruit = fruits[1]
print(second_fruit)
last_fruit = fruits[3]
print(last_fruit)
last_fruit = fruits[-1]
second_last = fruits[-2]
print(last_fruit)       
print(second_last)
all_fruits = fruits[0:4] 
all_fruits = fruits[0:]
orange_and_mango = fruits[1:3]
orange_mango_lemon = fruits[1:]
does_exist = 'banana' in fruits
print(does_exist)

# PR 
## Level 1
r dari sebuah lingkaran adalah 30 meter.
1. hitung luas dari lingkaran dan masukkan nilainya di variabel dengan nama luas lingkaran
2. hitung keliling dari lingkaran dan masukkan nilainya di variabel dengan nama keliling lingkaran
3. gunakan r berbeda untuk menghitung luas lingkaran

## Level 2
1. nyatakan umur anda sebagai variabel integer
2. nyatakan tinggi badan anda sebagai variabel float
3. nyatakan sebuah
4. hitung nilai dari y (y=x^2 + 6x + 9). Coba gunakan beberapa niali x berbeda untuk menemukan x saat y = 0
5. Bilangan genap dapat dibagi 2 dengan sisa 0. Bagaimana cara mengetahui jika sebuah angka adalah genap?
6. Cek apakah floor division dari 7 bagi 3 sama dengan interger dari 2.7? (True or False)
7. Cek apakah tipe dari '10' sama dengan tipe dari 10
8. Cek apakah int('9.8') sama dengan 10

## Level 3
1. nyatakan sebuah list kosong
2. nyatakan sebuah list dengan lebih dari 5 item
3. temukan panjang dari list kamu
4. ambil item pertama, item yang di tengah, dan item terakhir
5. nyatakan sebuah list bernama perusahaan_it berisi Facebook, Google, Microsoft, Apple, IBM, Oracle dan Amazon
6. Print list
7. Print jumlah perusahaan
8. Print item pertama, item yang di tengah, dan item terakhir
9. Tambahakan satu perusahaan IT ke list
10. Masukkan satu perusahaan IT ke tengah list

Sources:
- https://github.com/Asabeneh/30-Days-Of-Python
- https://belajarpython.com/tutorial/tipe-data-python/