# Week 2 ðŸðŸ
Pada minggu ke-2 ini kita akan mencoba menerapkan yang kita pelajari dalam sebuah projek sederhana.

Selama sesi ini kita akan menganalisis sebuah data iklim berformat csv dan mencoba menganalisisnya menggunakan python

Projek ini bertujuan untuk mengetahui korelasi antara curah hujan di suatu tempat dengan indeks Enso

> Pertama, buka vscode terus jelasin cara buka jupiter dan jelasin dikit apa itu jupiter

## Data Series dan DataFrame
Apa itu series?
- series adalah data satu dimensi dengan indeks

Apa itu dataframe?
- dataframe adalah beberapa series dengan sejumlah kolom dan baris.

![dataframe](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)

## Data Understanding

In [1]:
# import libraries
import pandas as pd

In [4]:
# membaca data
enso_df = pd.read_csv(r'C:\Users\Windows\Documents\code\kelas-python-iklim\week_2\data\ENSO_w_nans_prec.csv')
enso_df.head()
enso_df.tail()

,Date,Year,Month,Season,ONI,NINO 1+2 SST,NINO 1+2 SST Anomalies,NINO 3 SST,NINO 3 SST Anomalies,NINO 3.4 SST,NINO 3.4 SST Anomalies,NINO 4 SST,NINO 4 SST Anomalies,OLR,TNI,PNA,Precipitation (mm/day),SOI
854,2022-03-01,2022,MAR,FMA 2022,-1.0,25.95,-0.66,26.46,-0.70,26.34,-0.89,27.58,-0.65,1.8,-0.574,-0.16,NAN,1.8
855,2022-04-01,2022,APR,MAM 2022,-1.1,24.31,-1.42,26.68,-0.89,26.85,-0.95,27.79,-0.72,1.6,-0.601,-0.96,NAN,1.7
856,2022-05-01,2022,MAY,AMJ 2022,-1.0,23.20,-1.42,26.30,-0.92,26.83,-1.05,27.93,-0.86,1.5,-0.374,-0.64,NAN,1.4
857,2022-06-01,2022,JUN,MJJ 2022,-0.9,21.77,-1.41,26.02,-0.62,27.03,-0.68,28.27,-0.57,1.0,NAN,-0.22,NAN,1.7
858,2022-07-01,2022,JUL,JJA 2022,NAN,20.67,-1.16,25.51,-0.36,26.68,-0.62,27.90,-0.88,0.8,NAN,1.96,NAN,0.8

In [5]:
# melihat kolom
enso_df.columns

Index(['Date', 'Year', 'Month', 'Season', 'ONI', 'NINO 1+2 SST',
       'NINO 1+2 SST Anomalies', 'NINO 3 SST', 'NINO 3 SST Anomalies',
       'NINO 3.4 SST', 'NINO 3.4 SST Anomalies', 'NINO 4 SST',
       'NINO 4 SST Anomalies', 'OLR', 'TNI', 'PNA', 'Precipitation (mm/day)',
       'SOI'],
      dtype='object')

In [6]:
# informasi singkat
enso_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    859 non-null    object
 1   Year                    859 non-null    int64
 2   Month                   859 non-null    object
 3   Season                  859 non-null    object
 4   ONI                     859 non-null    object
 5   NINO 1+2 SST            859 non-null    object
 6   NINO 1+2 SST Anomalies  859 non-null    object
 7   NINO 3 SST              859 non-null    object
 8   NINO 3 SST Anomalies    859 non-null    object
 9   NINO 3.4 SST            859 non-null    object
 10  NINO 3.4 SST Anomalies  859 non-null    object
 11  NINO 4 SST              859 non-null    object
 12  NINO 4 SST Anomalies    859 non-null    object
 13  OLR                     859 non-null    object
 14  TNI                     859 non-null    object
 15  PNA                     859 non-null    float64
 16  Precipitation (mm/day)  855 non-null    object
 17  SOI                     859 non-null    float64
dtypes: float64(2), int64(1), object(15)
memory usage: 120.9+ KB

In [41]:
# melihat jumlah nan
enso_df.isna().sum(axis=0) #by default the axis=0

Date                      0
Year                      0
Month                     0
Season                    0
ONI                       0
NINO 1+2 SST              0
NINO 1+2 SST Anomalies    0
NINO 3 SST                0
NINO 3 SST Anomalies      0
NINO 3.4 SST              0
NINO 3.4 SST Anomalies    0
NINO 4 SST                0
NINO 4 SST Anomalies      0
OLR                       0
TNI                       0
PNA                       0
Precipitation             0
SOI                       0
dtype: int64

## Data Pre-processing

In [13]:
# mengubah nama kolom
enso_df.rename(columns={'Precipitation (mm/day)':'Precipitation'})
enso_df = enso_df.rename(columns={'Precipitation (mm/day)':'Precipitation'}) #timpa

In [14]:
enso_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    859 non-null    object
 1   Year                    859 non-null    int64
 2   Month                   859 non-null    object
 3   Season                  859 non-null    object
 4   ONI                     859 non-null    object
 5   NINO 1+2 SST            859 non-null    object
 6   NINO 1+2 SST Anomalies  859 non-null    object
 7   NINO 3 SST              859 non-null    object
 8   NINO 3 SST Anomalies    859 non-null    object
 9   NINO 3.4 SST            859 non-null    object
 10  NINO 3.4 SST Anomalies  859 non-null    object
 11  NINO 4 SST              859 non-null    object
 12  NINO 4 SST Anomalies    859 non-null    object
 13  OLR                     859 non-null    object
 14  TNI                     859 non-null    object
 15  PNA                     859 non-null    float64
 16  Precipitation           855 non-null    object
 17  SOI                     859 non-null    float64
dtypes: float64(2), int64(1), object(15)
memory usage: 120.9+ KB

In [15]:
#melihat deskripsi singkat
enso_df.describe()

              Year         PNA         SOI
count   859.000000  859.000000  859.000000
mean   1986.293364   -0.094820    0.145402
std      20.677287    1.030522    0.938163
min    1951.000000   -3.190000   -3.600000
25%    1968.000000   -0.760000   -0.400000
50%    1986.000000   -0.070000    0.200000
75%    2004.000000    0.605000    0.800000
max    2022.000000    2.870000    2.900000

In [17]:
# mengubah tipe data kolom
enso_df = enso_df.astype({
                'Month': str, 
                'Season': str, 
                'ONI': float, 
                'NINO 1+2 SST': float,
                'NINO 1+2 SST Anomalies': float, 
                'NINO 3 SST': float, 
                'NINO 3 SST Anomalies': float, 
                'NINO 3.4 SST': float, 
                'NINO 3.4 SST Anomalies': float, 
                'NINO 4 SST': float, 
                'NINO 4 SST Anomalies': float, 
                'OLR': float, 
                'Precipitation' : float,
                'TNI': float,
             })
enso_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    859 non-null    object
 1   Year                    859 non-null    int64
 2   Month                   859 non-null    object
 3   Season                  859 non-null    object
 4   ONI                     858 non-null    float64
 5   NINO 1+2 SST            487 non-null    float64
 6   NINO 1+2 SST Anomalies  487 non-null    float64
 7   NINO 3 SST              487 non-null    float64
 8   NINO 3 SST Anomalies    487 non-null    float64
 9   NINO 3.4 SST            487 non-null    float64
 10  NINO 3.4 SST Anomalies  487 non-null    float64
 11  NINO 4 SST              487 non-null    float64
 12  NINO 4 SST Anomalies    487 non-null    float64
 13  OLR                     563 non-null    float64
 14  TNI                     857 non-null    float64
 15  PNA                     859 non-null    float64
 16  Precipitation           488 non-null    float64
 17  SOI                     859 non-null    float64
dtypes: float64(14), int64(1), object(3)
memory usage: 120.9+ KB

In [19]:
enso_df.describe()

,Year,ONI,NINO 1+2 SST,NINO 1+2 SST Anomalies,NINO 3 SST,NINO 3 SST Anomalies,NINO 3.4 SST,NINO 3.4 SST Anomalies,NINO 4 SST,NINO 4 SST Anomalies,OLR,TNI,PNA,Precipitation,SOI
count,859.000000,858.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,563.000000,857.000000,859.000000,488.000000,859.000000
mean,1986.293364,0.014685,23.238891,-0.059055,25.969507,-0.063860,27.023470,-0.073183,28.459446,-0.093655,0.030906,-0.433431,-0.094820,5.332828,0.145402
std,20.677287,0.831873,2.297651,1.031886,1.224235,0.856396,0.941078,0.832718,0.677717,0.633764,0.974243,1.370256,1.030522,3.255619,0.938163
min,1951.000000,-2.000000,19.060000,-1.900000,23.380000,-2.160000,24.560000,-2.220000,26.360000,-1.870000,-2.800000,-3.376000,-3.190000,0.020000,-3.600000
25%,1968.000000,-0.600000,21.230000,-0.740000,25.000000,-0.650000,26.350000,-0.660000,28.015000,-0.570000,-0.600000,-1.493000,-0.760000,2.660000,-0.400000
50%,1986.000000,0.000000,23.130000,-0.240000,25.940000,-0.170000,27.070000,-0.110000,28.560000,-0.010000,0.100000,-0.516000,-0.070000,5.180000,0.200000
75%,2004.000000,0.500000,25.215000,0.440000,26.875000,0.415000,27.690000,0.445000,28.980000,0.375000,0.700000,0.371000,0.605000,7.572500,0.800000
max,2022.000000,2.600000,28.510000,4.030000,28.810000,3.070000,29.540000,2.720000,30.220000,1.550000,2.300000,4.227000,2.870000,17.910000,2.900000

In [24]:
# mengubah data hujan (daily mean to monthly)
enso_df['Precipitation']=enso_df['Precipitation']*30

In [25]:
enso_df.describe()

,Year,ONI,NINO 1+2 SST,NINO 1+2 SST Anomalies,NINO 3 SST,NINO 3 SST Anomalies,NINO 3.4 SST,NINO 3.4 SST Anomalies,NINO 4 SST,NINO 4 SST Anomalies,OLR,TNI,PNA,Precipitation,SOI
count,859.000000,858.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,563.000000,857.000000,859.000000,488.000000,859.000000
mean,1986.293364,0.014685,23.238891,-0.059055,25.969507,-0.063860,27.023470,-0.073183,28.459446,-0.093655,0.030906,-0.433431,-0.094820,143986.352459,0.145402
std,20.677287,0.831873,2.297651,1.031886,1.224235,0.856396,0.941078,0.832718,0.677717,0.633764,0.974243,1.370256,1.030522,87901.706843,0.938163
min,1951.000000,-2.000000,19.060000,-1.900000,23.380000,-2.160000,24.560000,-2.220000,26.360000,-1.870000,-2.800000,-3.376000,-3.190000,540.000000,-3.600000
25%,1968.000000,-0.600000,21.230000,-0.740000,25.000000,-0.650000,26.350000,-0.660000,28.015000,-0.570000,-0.600000,-1.493000,-0.760000,71820.000000,-0.400000
50%,1986.000000,0.000000,23.130000,-0.240000,25.940000,-0.170000,27.070000,-0.110000,28.560000,-0.010000,0.100000,-0.516000,-0.070000,139860.000000,0.200000
75%,2004.000000,0.500000,25.215000,0.440000,26.875000,0.415000,27.690000,0.445000,28.980000,0.375000,0.700000,0.371000,0.605000,204457.500000,0.800000
max,2022.000000,2.600000,28.510000,4.030000,28.810000,3.070000,29.540000,2.720000,30.220000,1.550000,2.300000,4.227000,2.870000,483570.000000,2.900000

In [26]:
# menghapus nan
# nan di tahun sebelum 1982 dan setelah tahun 2021
enso_df = enso_df.query('Year > 1981 and Year < 2022')

In [28]:
enso_df.isna().sum()

Date                      0
Year                      0
Month                     0
Season                    0
ONI                       0
NINO 1+2 SST              0
NINO 1+2 SST Anomalies    0
NINO 3 SST                0
NINO 3 SST Anomalies      0
NINO 3.4 SST              0
NINO 3.4 SST Anomalies    0
NINO 4 SST                0
NINO 4 SST Anomalies      0
OLR                       5
TNI                       0
PNA                       0
Precipitation             4
SOI                       0
dtype: int64

In [29]:
import numpy as np

In [43]:
# mencari lokasi nan
np.where(enso_df.isnull())

(array([], dtype=int64), array([], dtype=int64))

In [ ]:
# mencari lokasi nan di kolom precipitation
np.where(enso_df['Precipitation'].isnull())

In [35]:
enso_df.columns[4:]

Index(['ONI', 'NINO 1+2 SST', 'NINO 1+2 SST Anomalies', 'NINO 3 SST',
       'NINO 3 SST Anomalies', 'NINO 3.4 SST', 'NINO 3.4 SST Anomalies',
       'NINO 4 SST', 'NINO 4 SST Anomalies', 'OLR', 'TNI', 'PNA',
       'Precipitation', 'SOI'],
      dtype='object')

In [37]:
# handling missing values
## menghitung rata-rata bulanan
mean_month = enso_df.groupby('Month')[enso_df.columns[4:]].transform('mean')

# mengisi missing values
enso_df = enso_df.fillna(mean_month)

In [38]:
# jumlah missing values
enso_df.isna().sum()

Date                      0
Year                      0
Month                     0
Season                    0
ONI                       0
NINO 1+2 SST              0
NINO 1+2 SST Anomalies    0
NINO 3 SST                0
NINO 3 SST Anomalies      0
NINO 3.4 SST              0
NINO 3.4 SST Anomalies    0
NINO 4 SST                0
NINO 4 SST Anomalies      0
OLR                       0
TNI                       0
PNA                       0
Precipitation             0
SOI                       0
dtype: int64

In [39]:
enso_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 372 to 851
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    480 non-null    object
 1   Year                    480 non-null    int64
 2   Month                   480 non-null    object
 3   Season                  480 non-null    object
 4   ONI                     480 non-null    float64
 5   NINO 1+2 SST            480 non-null    float64
 6   NINO 1+2 SST Anomalies  480 non-null    float64
 7   NINO 3 SST              480 non-null    float64
 8   NINO 3 SST Anomalies    480 non-null    float64
 9   NINO 3.4 SST            480 non-null    float64
 10  NINO 3.4 SST Anomalies  480 non-null    float64
 11  NINO 4 SST              480 non-null    float64
 12  NINO 4 SST Anomalies    480 non-null    float64
 13  OLR                     480 non-null    float64
 14  TNI                     480 non-null    float64
 15  PNA                     480 non-null    float64
 16  Precipitation           480 non-null    float64
 17  SOI                     480 non-null    float64
dtypes: float64(14), int64(1), object(3)
memory usage: 71.2+ KB

## Data Visualization

In [ ]:
# import module
import seaborn 
import matplotlib

In [ ]:
# membuat list indicator (yang akan digambar)

In [ ]:
# menunjukkan cara membuat template

In [ ]:
# heatmap for correlation analysis

In [ ]:
# set index

In [ ]:
# contoh-contoh menggambar yang lain
## menggambar dua sumbu y
x = enso_df.index
y1 = enso_df.Precipitation
y2 = enso_df['NINO 1+2 SST']

fig, ax1 = plt.subplots(figsize=(30,5)) 
  
ax1.set_xlabel('Year') 
ax1.set_ylabel('Precipitation', color = 'darkcyan') 
ax1.plot(x, y1, color = 'darkcyan') 
ax1.tick_params(axis ='y', labelcolor = 'darkcyan') 
  
# Adding Twin Axes

ax2 = ax1.twinx() 
  
ax2.set_ylabel('NINO 1+2 SST', color = 'brown') 
ax2.plot(x, y2, color = 'brown') 
ax2.tick_params(axis ='y', labelcolor = 'brown')

plt.show()

In [ ]:
fig = plt.figure()
for
plt.figure().add_subplot(13, 1, index=1)
plt.plot(enso_df['ONI'])
plt.title('ONI', y=0.8, loc='right')

plt.figure().add_subplot(13, 1, index=2)
plt.plot(enso_df['NINO 1+2 SST'])
plt.title('NINO 1+2 SST', y=0.8, loc='right')

plt.fig....

In [ ]:
# other variables time series
fig = plt.figure(figsize=(15,40))
for index, col in enumerate(indicators[:], 1):
    fig.add_subplot(14, 1, index)
    plt.plot(enso_df[col])
    plt.title(col, y=0.8, loc='right')
plt.show()