# Day 4 üêç
# Loop üîÅ

Untuk melakukan sesuatu di python berulang-ulang kita menggunakan loop. Ada terdapat 2 bentuk loop:
1. for
2. while

### If dan Loop
* If --> menjalankan perintah apabila `True` (1 X)
* Loop --> menjalankan perintah apabila `True` (berulang-ulang)

## 1. while üêê
perintah akan dilakukan selama kondisi benar (True)

In [4]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [5]:
print(count)

5

> blok di atas berhenti ketika count = 5 karena kondisi `False'

## range()

range digunakan untuk membuat sekuen

In [16]:
lst = list(range(11)) 
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
abjad = ['a', 'b', 'c', 'd']
print(abjad[0:4])

['a', 'b', 'c', 'd']

In [17]:
st = list(range(1, 11))
print(st)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
lst = list(range(0,11,2))
print(lst)

[0, 2, 4, 6, 8, 10]

In [56]:
lst = list(range(11,0,-1))
print(lst)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2. for [üêëüêëüêëüêë]üêë

digunakan untuk melakukan iterasi (pengulangan) melalui sebuah sekuen (contoh: list, tuple, string)

In [23]:
b = [0, 1, 2, 3, 4, 5]
for a in b:
    print(a)

print(a)

0
1
2
3
4
5
5

In [24]:
language = 'Python'
for letter in language:
    print(letter)

P
y
t
h
o
n

In [25]:
print(len(language))

6

In [26]:
print(len('language'))

8

In [29]:
for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

In [30]:
for i in range(len(language)):
    print(i)

0
1
2
3
4
5

In [31]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

## Break

In [33]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

print('break')

0
1
2
3
break

## Continue

In [43]:
numbers = (0,1,2,3,4,5)

for number in numbers:
    print(number)
    if number == 3:
        continue
    print(number)
    print(number)
    #print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements

print('outside the loop')

0
0
0
1
1
1
2
2
2
3
4
4
4
5
5
5
outside the loop

## Nested Loops

In [49]:
artis = {
    'nama': 'Taylor',
    'mantans': ['Calvin', 'Tom', 'Jake', 'Joe']
}

for key in artis:
    print(key)
    if key == 'mantans':
        for mantan in artis['mantans']:
            print(mantan)

nama
mantans
Calvin
Tom
Jake
Joe

In [52]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    while count < 3:
        print('kurang dari 3')
        count = count + 1

0
kurang dari 3
kurang dari 3
3
4

In [48]:
print(artis['mantans'])

['Calvin', 'Tom', 'Jake', 'Joe']

## Exercises: Level 1
1. iterasi dari 0 sampai 10 menggunakan for loop, lakukan juga menggunakan while loop

2. iterasi dari 10 sampai 0 menggunakan for loop, lakukan juga menggunakan while loop

3. buat loop yang dapat yang melakukan iterasi 7 kali sehingga menampilkan hasil seperti ini:

   ```sh
     #
     ##
     ###
     ####
     #####
     ######
     #######
   ```

4. buatlah nested loop sehingga menghasilkan tampilan ini:
   ```sh
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   ```

5. Print pola berikut menggunakan loop:
   ```sh
   0 x 0 = 0
   1 x 1 = 1
   2 x 2 = 4
   3 x 3 = 9
   4 x 4 = 16
   5 x 5 = 25
   6 x 6 = 36
   7 x 7 = 49
   8 x 8 = 64
   9 x 9 = 81
   10 x 10 = 100
   ```

6. lakukan iterasi menggunakan list berikut, ['Python', 'Numpy','Pandas','Django', 'Flask'] dan print itemnya

7. gunakan for loop untuk print angka genap antara 0 sampai 100

8. gunakan for loop untuk iterasi dari 0 sampai 100 dan hanya print angka ganjil

## Exercises: Level 2
1. gunakan for loop untuk iterasi 0 sampai 100 dan print jumlah total (sum) semua angka tersebut.
   ```sh
   The sum of all numbers is 5050.
   ```
2. gunakan for loop untuk iterasi 0 sampai 100 dan print jumlah total (sum) semua angka genap dan jumlah total (sum) semua angka ganjil.
    ```sh
    The sum of all evens is 2550. And the sum of all odds is 2500.
    ```

In [ ]:
# number 7
for i in range(2,100,2):
    print(i)

In [65]:
print(list(range(2,100,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [66]:
# number 8
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
for i in range(100):